@import url("C:\Users\DELL\Desktop\CODE\HTML, CSS\Fonts");

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin-right: 40px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 0;
}

.logo{
    font-size: 60px;
    color: black;
    margin: 40px;
    text-decoration: none;
    font-family: Britanic Bold, Bold, serif;
    font-weight: bolder;
}

.navbox{
    margin-left: 40px;
}

.navbar a {
    font-size: 17px;
    margin: auto;
    color: black;
    font-family: Montserrat, Light, san-serif;
    font-weight: lighter;
    padding: 20px;
    text-decoration: none;
}

.navbar a:hover {
    color: orange;
    transition: .2s;
}

.section1{
    margin-top: 250px;
    margin-left: 40px;
}

.title {
    margin-top: 40px;
    margin-left: 40px;
    max-width: 400px;
    height: 70px;
    font-size: 35px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, Bold;
    font-weight: bolder;
}

.paragraph {
    max-width: 350px;
    margin-left: 430px;
    margin-top: -50px;
    font-family: sans-serif;
}

.button1{
    background-color: rgb(225, 60, 30);
    width: 140px;
    height: 50px;
    font-weight: bolder;
    border: none;
    text-decoration: none;
}

.button1:hover{
    background-color: black;
    color: white;
}

.box{
    color: white;
    background-color: rgb(10, 5, 25);
    max-width: 325px;
    height: 400px;
    padding: 20px;
    float: right;
    margin-top: -350px;
    margin-right: 70px;

}

.para1{
    border-bottom: 20px;
    border-color: white;

}

h2.borderhead{
    color: lightgoldenrodyellow;
}


