:root{
    --yellow-color: #FFC31F;
    --red-color:  #ee6352;
}

body, .header{
    width: 100%;
    padding: 0;
    margin: 0;
}

.row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.header{
    display: flex;
    align-items: center;
}

.nav{
    background-color: #ffc21f;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search{
    background-color: #ee6352;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul{
    display: flex;
    color: #ffffff;
    font-size: smaller;
    font-weight: 100;
}

li{
    list-style-type: none;
    display: flex;
    padding: 20px;
    font-family: sans-serif;
}
    

.logo{
    font-size: 25px;
    font-stretch: condensed;
    padding-left: 2rem;
    color: #ffffff;
    font-family: Bernas system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.photogallery{
    width: 100%;
}

.container{
    height: 700px;
    position: relative;
}
.gradient{
    height:100%;
    width: 100%;
    background-image: linear-gradient(to top, black, transparent);
    position: absolute;
    top: 0;
    left: 0;
    
}

.photogallery section{
    display: block;
    width: 33.33%;
    max-width: 33.33%;
    z-index: 1;
    position: absolute;
    color: #ffffff;
    font-family: sans-serif;
}

.photogallery .first{
    margin-top: 500px;
}

.photogallery .second{
    margin-top: 500px;
    margin-left: 520px;
}

.photogallery .third{
    margin-top: 500px;
    margin-left: 1040px;
}

img.gallery{
    width: 33.33%;
    max-width: 33.33%;
    z-index: -1;
    height: 100%;
}

h1{
    font-size: 30px;

}

.stories{
    width: 100%;
    font-family: sans-serif;
}

h1.header-2{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 40px;

}

.story-details{
    display: flex;
    flex-wrap: wrap;
    
}

.content-box section{
    display: block;
    text-align: center;
}

.slider{
    display: flex;
    width: 500px;
    height: 500px;
    justify-content: space-between;
}

.content-box{
    width: 33.3%;
    
}

.container-3{
    display: flex;
    font-family: sans-serif;
}

.img-writeup{
    width: 45%;
    margin-left: 20px;

}

.img-writeup button{
    background-color: #ffc21f;
    padding: 15px;
    width: 9rem;
    border: none;
    color: #ffffff;
}

.news{
    width: 50%;
}

footer{
    background-color: rgb(35, 35, 35);
}

footer section{
    color: #ffffff;
}

p.footer{
    line-break: 30px;
}

